@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
$button_background: #0da34e;
$why_background: #292929;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}
span{
 color: $button_background;
}
body {
  background-color: black;
}
.gif{
  width: 50%;
}
.navbar .nav-2 .hide{
  display: none ;
}