.main-hero {
  font-size: 22px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  & .hero {
    width: 70%;
    color: white;

    & .tag-line {
      text-transform: uppercase;
      font-size: 64px;
      margin-bottom: 22px;
    }
    & .discuss {
      margin: 50px 0 22px 0;
      font-size: 30px;
    }
    & a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      padding: 12px 40px;
      background: $button_background url("../img/button-noise.png");
      border-radius: 25px;
      &:hover {
        background: $button_background;
      }
    }
  }
}
