.navbar {
  background-color: black;
  width: 100%;
  padding: 15px;
  color: white;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  & img {
    width: 10%;
  }
  & ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    & li {
      margin-right: 40px;
      & a {
        text-decoration: none;
        color: inherit;
        padding: 10px;
        border-radius: 25px;
        &:hover {
          background-color: $button_background;
        }
      }
    }
  }
}
