.process {
  color: white;
  font-size: 18px;
  text-align: center;
  & .title {
    margin: 50px 0;
    font-size: 40px;
  }
  & .processes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: 0 auto;
    & .back {
      background-color: $why_background;
    }
    & div {
      padding: 30px;
      text-align: left;

      & .process-title {
        font-size: 30px;
        margin: 10px 0;
      }
      & .numbered {
        background-color: $button_background;
        padding: 20px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
