//hero
@media screen and (max-width: 1301px) {
  .main-hero {
    & .hero {
      width: 80%;
    }
  }
}
@media screen and (max-width: 1101px) {
  .main-hero {
    height: 120vh;
    padding-top: 120px;
    & .hero {
      flex-direction: column;
      width: 60%;
      & img {
        width: 70%;
      }
    }
  }
}

//services
@media screen and (max-width: 1201px) {
  .services {
    & .main-services {
      width: 90%;
    }
  }
}
//why
@media screen and (max-width: 1201px) {
  .why {
    & .reasons {
      width: 90%;
    }
  }
}
//process
@media screen and (max-width: 1201px) {
  .process {
    & .processes {
      width: 90%;
    }
  }
}

//works
@media screen and (max-width: 1341px) {
  .works {
    & .flex2_gifs {
      flex-direction: column;
      width: 100%;
      & .blacko {
        margin-bottom: 100px;
      }
    }
  }
}
//ready
@media screen and (max-width: 1201px) {
  .ready {
    & div {
      width: 90%;
    }
  }
}
//footer
@media screen and (max-width: 1201px) {
  .footer {
    & img {
      width: 20%;
    }
  }
}
