//navbar
@media screen and (max-width: 801px) {
  .navbar {
    & .nav-1 {
      display: none;
    }
    & .nav-2 {
      display: block;
      font-size: 30px;
      & .hamburger {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      & img {
        width: 20%;
      }
      & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        & li {
          margin-bottom: 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 501px) {
  .navbar {
    & .nav-2 {
      & .hamburger {
        padding: 20px 0;
      }
      & img {
        width: 30%;
      }
      & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        & li {
          margin-bottom: 25px;
        }
      }
    }
  }
}
//hero
@media screen and (max-width: 1301px) {
  .main-hero {
    & .hero {
      width: 80%;
    }
  }
}
@media screen and (max-width: 1101px) {
  .main-hero {
    height: 120vh;
    padding-top: 120px;
    & .hero {
      flex-direction: column;
      width: 60%;
      & img {
        width: 70%;
        margin: 50px 0;
      }
    }
  }
}
@media screen and (max-width: 1001px) {
  .main-hero {
    height: 80vh;
    padding-top: 0;
    & .hero {
      flex-direction: column;
      width: 70%;
      & img {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 801px) {
  .main-hero {
    & .hero {
      flex-direction: column;
      width: 80%;
    }
  }
}
//services
@media screen and (max-width: 1201px) {
  .services {
    & .main-services {
      width: 90%;
    }
  }
}
@media screen and (max-width: 1001px) {
  .services {
    & .main-services {
      width: 80%;
      & .list-of-services {
        grid-template-columns: repeat(2, 1fr);
        & .uiux-none,
        .bug-none {
          display: block;
        }
      }
      & .list-of-services2 {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 801px) {
  .services {
    & .main-services {
      width: 90%;
    }
  }
}
@media screen and (max-width: 701px) {
  .services {
    & .main-services {
      width: 70%;
      & .list-of-services {
        grid-template-columns: 1fr;
      }
    }
  }
}
@media screen and (max-width: 501px) {
  .services {
    & .main-services {
      width: 90%;
    }
  }
}
//why
@media screen and (max-width: 1201px) {
  .why {
    & .reasons {
      width: 90%;
    }
  }
}
@media screen and (max-width: 1001px) {
  .why {
    & .reasons {
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
    }
  }
}
@media screen and (max-width: 801px) {
  .why {
    & .reasons {
      width: 90%;
    }
  }
}
@media screen and (max-width: 701px) {
  .why {
    & .reasons {
      width: 70%;
      grid-template-columns: 1fr;
    }
  }
}
@media screen and (max-width: 501px) {
  .why {
    & .reasons {
      width: 90%;
    }
  }
}
//process
@media screen and (max-width: 1201px) {
  .process {
    & .processes {
      width: 90%;
    }
  }
}
@media screen and (max-width: 701px) {
  .process {
    & .processes {
      grid-template-columns: 1fr;
      width: 70%;
      grid-gap: 1rem;
      & div {
        background-color: $why_background;
      }
    }
  }
}
@media screen and (max-width: 501px) {
  .process {
    & .processes {
      width: 90%;
    }
  }
}
//works
@media screen and (max-width: 1341px) {
  .works {
    & .flex2_gifs {
      flex-direction: column;
      width: 100%;
      & .blacko {
        margin-bottom: 100px;
      }
    }
  }
}
@media screen and (max-width: 601px) {
  .works {
    img {
      width: 70%;
    }
  }
}
@media screen and (max-width: 501px) {
  .works {
    img {
      width: 90%;
    }
  }
}
//ready
@media screen and (max-width: 1201px) {
  .ready {
    & div {
      width: 90%;
    }
  }
}
@media screen and (max-width: 771px) {
  .ready {
    & div {
      flex-direction: column;
      & p {
        margin-bottom: 30px;
      }
    }
  }
}
//footer
@media screen and (max-width: 1201px) {
  .footer {
    & img {
      width: 20%;
    }
  }
}
@media screen and (max-width: 801px) {
  .footer {
    font-size: 28px;
    & img {
      width: 30%;
    }
  }
}
@media screen and (max-width: 701px) {
  .footer {
    font-size: 30px;
    & img {
      width: 40%;
    }
  }
}
@media screen and (max-width: 501px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    & img {
      width: 90%;
    }
  }
}
