.services {
  font-size: 18px;
  padding-bottom: 50px;
  background-image: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 13px,
      rgba(0, 0, 0, 0.03) 13px,
      rgba(0, 0, 0, 0.03) 24px,
      transparent 24px,
      transparent 62px,
      rgba(0, 0, 0, 0.03) 62px,
      rgba(0, 0, 0, 0.03) 96px
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 14px,
      rgb(255, 255, 255) 14px,
      rgb(255, 255, 255) 18px,
      rgb(255, 255, 255) 18px,
      rgb(255, 255, 255) 28px,
      rgb(255, 255, 255) 28px,
      rgb(255, 255, 255) 32px
    );
  background-size: 21px 21px;

  & .title {
    font-size: 40px;
    text-align: center;
    padding: 50px 0;
  }
  & .main-services {
    width: 80%;
    margin: auto;
    & .list-of-services {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      margin-bottom: 1rem;
      & div {
        background-color: black;
        color: white;
        padding: 30px;
        & .heading {
          font-size: 30px;
          margin: 10px 0;
        }
      }
    }
    & .list-of-services2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      & div {
        background-color: black;
        color: white;
        margin-bottom: 10px;
        padding: 30px;
        & .heading {
          font-size: 30px;
          margin: 10px 0;
        }
      }
    }
  }
}
