.services {
  color: white;
  & .title {
    font-size: 56px;
    // background: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69)),
    //   url("../img/services\ background.png");
    background-attachment: fixed;
    padding: 30px;
    text-align: center;
  }
  & .listofservices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;

      & > div {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .number {
          background-color: $button_background;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 5px;
        }
      }
    }
    & img {
      width: 60%;
    }
  }
}
