@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

span {
  color: #0da34e;
}

body {
  background-color: black;
}

.main-hero {
  background: black url("data:image/svg+xml,%0A%3Csvg width='1083' height='1467' viewBox='0 0 1083 1467' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='184.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='367.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='550.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='733.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='916.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='1099.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='1282.5' r='1.5' fill='white'/%3E%3Cellipse cx='1.5' cy='1424' rx='1.5' ry='2' fill='white'/%3E%3C/g%3E%3Cg opacity='0.4'%3E%3Ccircle cx='181.5' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='181.5' cy='184.5' r='1.5' fill='white'/%3E%3Ccircle cx='181.5' cy='367.5' r='1.5' fill='white'/%3E%3Ccircle cx='181.5' cy='550.5' r='1.5' fill='white'/%3E%3Ccircle cx='181.5' cy='733.5' r='1.5' fill='white'/%3E%3Ccircle cx='181.5' cy='916.5' r='1.5' fill='white'/%3E%3Ccircle cx='181.5' cy='1099.5' r='1.5' fill='white'/%3E%3Ccircle cx='181.5' cy='1282.5' r='1.5' fill='white'/%3E%3Ccircle cx='181.5' cy='1465.5' r='1.5' fill='white'/%3E%3C/g%3E%3Cg opacity='0.4'%3E%3Ccircle cx='361.5' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='361.5' cy='184.5' r='1.5' fill='white'/%3E%3Ccircle cx='361.5' cy='367.5' r='1.5' fill='white'/%3E%3Ccircle cx='361.5' cy='550.5' r='1.5' fill='white'/%3E%3Ccircle cx='361.5' cy='733.5' r='1.5' fill='white'/%3E%3Ccircle cx='361.5' cy='916.5' r='1.5' fill='white'/%3E%3Ccircle cx='361.5' cy='1099.5' r='1.5' fill='white'/%3E%3Ccircle cx='361.5' cy='1282.5' r='1.5' fill='white'/%3E%3Ccircle cx='361.5' cy='1465.5' r='1.5' fill='white'/%3E%3C/g%3E%3Cg opacity='0.4'%3E%3Ccircle cx='541.5' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='541.5' cy='184.5' r='1.5' fill='white'/%3E%3Ccircle cx='541.5' cy='367.5' r='1.5' fill='white'/%3E%3Ccircle cx='541.5' cy='550.5' r='1.5' fill='white'/%3E%3Ccircle cx='541.5' cy='733.5' r='1.5' fill='white'/%3E%3Ccircle cx='541.5' cy='916.5' r='1.5' fill='white'/%3E%3Ccircle cx='541.5' cy='1099.5' r='1.5' fill='white'/%3E%3Ccircle cx='541.5' cy='1282.5' r='1.5' fill='white'/%3E%3Ccircle cx='541.5' cy='1465.5' r='1.5' fill='white'/%3E%3C/g%3E%3Cg opacity='0.4'%3E%3Ccircle cx='721.5' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='721.5' cy='184.5' r='1.5' fill='white'/%3E%3Ccircle cx='721.5' cy='367.5' r='1.5' fill='white'/%3E%3Ccircle cx='721.5' cy='550.5' r='1.5' fill='white'/%3E%3Ccircle cx='721.5' cy='733.5' r='1.5' fill='white'/%3E%3Ccircle cx='721.5' cy='916.5' r='1.5' fill='white'/%3E%3Ccircle cx='721.5' cy='1099.5' r='1.5' fill='white'/%3E%3Ccircle cx='721.5' cy='1282.5' r='1.5' fill='white'/%3E%3Ccircle cx='721.5' cy='1465.5' r='1.5' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Ccircle cx='901.5' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='901.5' cy='184.5' r='1.5' fill='white'/%3E%3Ccircle cx='901.5' cy='367.5' r='1.5' fill='white'/%3E%3Ccircle cx='901.5' cy='550.5' r='1.5' fill='white'/%3E%3Ccircle cx='901.5' cy='733.5' r='1.5' fill='white'/%3E%3Ccircle cx='901.5' cy='916.5' r='1.5' fill='white'/%3E%3Ccircle cx='901.5' cy='1099.5' r='1.5' fill='white'/%3E%3Ccircle cx='901.5' cy='1282.5' r='1.5' fill='white'/%3E%3Ccircle cx='901.5' cy='1465.5' r='1.5' fill='white'/%3E%3C/g%3E%3Cg opacity='0.1'%3E%3Ccircle cx='1081.5' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='1081.5' cy='184.5' r='1.5' fill='white'/%3E%3Ccircle cx='1081.5' cy='367.5' r='1.5' fill='white'/%3E%3Ccircle cx='1081.5' cy='550.5' r='1.5' fill='white'/%3E%3Ccircle cx='1081.5' cy='733.5' r='1.5' fill='white'/%3E%3Ccircle cx='1081.5' cy='916.5' r='1.5' fill='white'/%3E%3Ccircle cx='1081.5' cy='1099.5' r='1.5' fill='white'/%3E%3Ccircle cx='1081.5' cy='1282.5' r='1.5' fill='white'/%3E%3Ccircle cx='1081.5' cy='1465.5' r='1.5' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
  font-size: 18px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.main-hero .hero {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.main-hero .hero .tag-line {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 22px;
}
.main-hero .hero .discuss {
  margin: 50px 0 22px 0;
  font-size: 30px;
}
.main-hero .hero a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 12px 40px;
  background: #0da34e url("../img/button-noise.png");
  border-radius: 25px;
}
.main-hero .hero a:hover {
  background: #0da34e;
}

.services {
  color: white;
}
.services .title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 90px;
}
.services .listofservices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .listofservices > div {
  border: 2px dotted #292929;
  border-radius: 15px;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.services .listofservices > div > div {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .listofservices > div > div .number {
  background-color: #0da34e;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.services .listofservices img {
  width: 60%;
}

.why {
  font-size: 18px;
  height: 100vh;
  color: white;
}
.why .title {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
.why .reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 70%;
  margin: 30px auto;
}
.why .reasons div {
  background-color: #292929;
  padding: 30px;
  border-radius: 15px;
}
.why .reasons .reason-big {
  font-size: 30px;
  margin: 10px 0;
}